.com_dateSelector{
	position:relative;
	width: 226px;
	height: 18px;
	border: 1px solid #606060;
	padding: 1px 25px 0 4px;
	background-color: #fff;
}
.com_dateSelector .info{
	color: #999;
	position: absolute;
	top: 2px;
	left: 4px;
	font-size: 12px;
}
.com_dateSelector .dateInput{
	width: 100%;
	border: none;
	font-size: 14px;
}
.com_dateSelector .popBtn{
	position:absolute;
	right:0;
	top:50%;
	display: block;
	width: 25px;
	height: 16px;
	margin-top:-9px;
	background: url(date_icon.png);
}
.com_dateSelector .popBlock{
	position:absolute;
	right:-1px;
	top:20px;
	border: 1px solid #606060;
	background-color: #fff;
	padding: 5px;
	width: 230px;
	display: none;
}

.com_dateSelector .YM_Row .arrow{
	position:absolute;
	top:0;
	display: block;
	width: 22px;
	height: 23px;
	line-height: 20px;
	text-align: center;
}
.com_dateSelector .YM_Row .arrow i{
	display:inline-block;
	background: url(date_icon.png) no-repeat;
	vertical-align: -1px;
}

.com_dateSelector .YM_Row .leftArrow{
	left:0;
	background-color: #f6f6f6;
	border-right: 1px solid #ccc;
}
.com_dateSelector .YM_Row .leftArrow i{
	width: 6px;
	height: 10px;
	background-position: 0 -16px;
}
.com_dateSelector .YM_Row .rightArrow{
	background-color: #f6f6f6;
	border-left: 1px solid #ccc;
	right: 0;
}
.com_dateSelector .YM_Row .rightArrow i{
	width: 6px;
	height: 10px;
	background-position: -6px -16px;
}
.com_dateSelector .YM_Row .downArrow{
	right:23px;
}
.com_dateSelector .YM_Row .downArrow i{
	width: 10px;
	height: 6px;
	background-position: -12px -16px;
	vertical-align: 1px;
}
.com_dateSelector .YM_Row .areaBlock{
	display: inline-block;
}
.com_dateSelector .YM_Row .year{
	width: 50%;
}
.com_dateSelector .YM_Row .year .border{
	margin-right: 5px;
}
.com_dateSelector .YM_Row .month{
	width: 50%;
}
.com_dateSelector .YM_Row .areaBlock .border{
	position:relative;
	border: 1px solid #ccc;
	height: 23px;
}
.com_dateSelector .YM_Row .areaBlock .border .selectorBlock{
	position:absolute;
	top:22px;
	left:-1px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	display: none;
}
.com_dateSelector .YM_Row .areaBlock .border .selectorBlock .upArrow{
	display: block;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
	height: 20px;
	text-align: center;
}
.com_dateSelector .YM_Row .areaBlock .border .selectorBlock .upArrow i{
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(date_icon.png) no-repeat 0 -26px;
}
.com_dateSelector .YM_Row .areaBlock .border .selectorBlock .downArrow{
	display: block;
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
	height: 20px;
	text-align: center;
}
.com_dateSelector .YM_Row .areaBlock .border .selectorBlock .downArrow i{
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(date_icon.png) no-repeat -10px -26px;
	vertical-align: -2px;
}
.com_dateSelector .YM_Row .areaBlock .border .unit{
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
	height: 20px;
}
.com_dateSelector .YM_Row .areaBlock .border .unit:hover{
	background-color: #f3f3f3;
}
.com_dateSelector .YM_Row .areaBlock.month .border .unit{
	line-height: 23px;
	height: 23px;
	margin: 2px 0;
}

.com_dateSelector .YM_Row .inputBorder{
	margin: 3px 49px 0 27px;
}
.com_dateSelector .YM_Row .inputBorder input{
	width: 100%;
	border: none;
	text-align: center;
}
.com_dateSelector .weekDateBlock{
	border: 1px solid #ccc;
	margin-top: 5px;
}
.com_dateSelector .weekDateBlock .weekRow{
	border-bottom: 1px solid #ccc;
	background-color:#f6f6f6; 
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.com_dateSelector .weekDateBlock .weekRow li{
	display: inline-block;
	width: 14.28%;
	text-align: center;
	color: #333;
}
.com_dateSelector .weekDateBlock .dateRow .cell{
	display: inline-block;
	width: 14.28%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999;
}
.com_dateSelector .weekDateBlock .dateRow .cell:hover{
	background-color:#f6f6f6; 
}
.com_dateSelector .weekDateBlock .dateRow .cell.main{
	color: #333;
}
.com_dateSelector .weekDateBlock .dateRow .cell.now{
	color: #f00;
}


.com_dateSelector .popBlock .bottomBlock{
	margin-top: 5px; 
	font-size: 12px;
	text-align: right;
}
.com_dateSelector .popBlock .bottomBlock a{
	display: inline-block;
	border: 1px solid #ccc;
	background-color:#f6f6f6; 
	width: 100px;
	line-height: 20px;
	height: 20px;
	text-align: center;
	color: #333;
}


















